/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* HEADER */
header {
    background-color: #ff6900;
    color: white;
    height: 73px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header .container.flex-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Header: Nav */
header nav {
    width: 20%;
    text-align: left;
}

header nav li {
    font-weight: 600;
    padding-right: 5px;
}

/* Header: Logo */
header .logo {
    width: 60%;
    text-align: center;
}

header .logo img {
    width: 130px;
}

/* Header: Icons Area */
header .icons-area {
    width: 20%;
    text-align: right;
}

.icons-area i {
    font-size: 15px;
    padding-right: 8px;
}

/* MAIN */
main {
    padding-top: 80px;
}

/* Cards Columns */
main .container.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

main .container .col {
    width: calc(100% / 3 - 10px);
}

.card {
    padding-bottom: 50px;
    position: relative;
}

/* Card-Top */
.card-image-a {
    position: absolute;
    top: 0;
    left: 0;
}

.card-top:hover .card-image-a {
    display: none;
}

.card .heart {
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 3px 15px;
    background-color: white;
}

.card .heart:hover {
    color: red;
}

.card .labels {
    position: absolute;
    left: 0;
    bottom: 160px;
}

.card .labels > * {
    padding: 5px 11px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.card .labels .discount {
    background-color: red;
}

.card .labels .tag {
    background-color: green;
}

/* Card-Bottom */
.card-bottom {
    padding-top: 3px;
    line-height: 18px;
}

.card-bottom .brand {
    font-size: 14px;
}

.card-bottom .product-name {
    font-weight: 600;
}

.card-bottom .prices {
    font-size: 15px;
}

.card-bottom .price-discounted {
    color: red;
    font-weight: 600;
}

.card-bottom .price-normal {
    text-decoration: line-through;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
    color: white;
    font-weight: 600;
    height: 100px;
}

footer .container.flex-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Footer Left */
.footer-left {
    line-height: 28px;
    width: 400px;
}

.footer-left .business-name {
    font-size: 18px;
}

.footer-left ul {
    justify-content: space-between;
}

.footer-left ul li {
    font-size: 14px;
    font-weight: 100;
}

/* Footer Right */

.footer-right {
    width: 140px;
    font-size: 14px;
}

.footer-right-title {
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-right ul {
    justify-content: space-between;
}

.footer-right ul li {
    background-color: white;
    width: 20px;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    font-weight: 100;
    color: #1a1a1a;
}

