/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* HEADER */
header {
    background-color: #ff6900;
    color: white;
    height: 73px;
    width: 100%;
    position: fixed;
}

header .container.flex-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Header: Nav */
header nav {
    width: 20%;
    text-align: left;
}

header nav li {
    font-weight: 600;
    padding-right: 5px;
}

/* Header: Logo */
header .logo {
    width: 60%;
    text-align: center;
}

header .logo img {
    width: 130px;
}

/* Header: Icons Area */
header .icons-area {
    width: 20%;
    text-align: right;
}

.icons-area i {
    font-size: 15px;
    padding-right: 8px;
}

/* MAIN */
main {
    padding-top: 80px;
}

/* Main: Cards */
main .container.flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

main .container .col {
    width: calc(100% / 3 - 10px);

    /* TEST */
    /* height: 500px; */
    /* background-color: lightcoral;
    border: 1px solid black; */
}

.card {
    /* height: 640px; */
    padding-bottom: 50px;
}

.card-bottom {
    padding-top: 10px;

    /* TEST */
    /* background-color: lightblue; */
}

.card-bottom .label {
    font-size: 14px;
}

.card-bottom .model {
    font-weight: 600;
}

.card-bottom .prices {
    font-size: 15px;
}

.card-bottom .price-discounted {
    color: red;
    font-weight: 600;
}

.card-bottom .price-normal {
    text-decoration: line-through;
}

/* FOOTER */